.recentHotelContainer{
  width: 100%;
  max-width: 1024px;
}
.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .fpItem{
    /* flex: 1; */
    width: 32%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .fpImg{
    width: 100%;
    height: 250px;
    /* width:300px; */
    object-fit: cover;
  }
  
  .fpName{
    color: #333;
    font-weight: bold;
  }
  
  .fpCity{
    font-weight: 300;
  }
  
  .fpPrice{
    font-weight: 500;
  }
  
  .fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .fpRating>span{
    font-size: 14px;
  }