.listAdmin {
    display: flex;
    width: 100%;
}
/* listContainerAdmin chiếm 6 lần so với sideBar, listAdmin gồm listContainerAdmin và sidebar  */
.listAdmin .listContainerAdmin {  
    flex: 8;
}
