.ModifyRoomCountContainer{
    width: 95%;
    margin:20px auto;
}

.roomNumberContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border: 2px solid #8ed1f8; /* Màu xanh nước biển */
    padding: 5px;
}

.roomNumber{
    text-align: center;
    width:30%;
}
