/* thanh search ngày */

.headerSearchHotel {
    height: 40px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 1;
    padding:10px 0px;
  }
  
  .headerIconHotel {
    color: lightgray;
  }
  
  .headerSearchItemHotel {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInputHotel {
    border: none;
    outline: none;
  }
  
  .headerSearchInputHotel::placeholder{
    color: lightgray;
    cursor: pointer;
    font-weight: bold;
  }
  .headerSearchTextHotel {
    color: lightgray;
    cursor: pointer;
    font-weight: bold;
  }
  












.RoomClientContainer{
    width: 100%;
    max-width: 1024px;
    margin-top:20px;

}
.RoomClientContainer .flex_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.RoomClientContainer .rMax{
    font-size:14px;


}

.RoomClientContainer .rTitle{
    font-weight: 500;
}

.RoomClientContainer .rDesc{
    font-weight: 300;

}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 8px;
    color: gray;
  }