.RoomClientContainer{
    width: 100%;
    max-width: 1024px;
    margin-top:20px;

}
.RoomClientContainer .flex_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.RoomClientContainer .rMax{
    font-size:14px;


}

.RoomClientContainer .rTitle{
    font-weight: 500;
}

.RoomClientContainer .rDesc{
    font-weight: 300;

}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 8px;
    color: gray;
  }