.detailsRoomTypeContainer{
    width: 95%;
    margin:30px auto;
}
.tableRoomStatus {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .grid-container {
  width: 100%; /* Kích thước chiều rộng bằng với tableRoomStatus */
  height: 100%; /* Kích thước chiều cao bằng với tableRoomStatus */
  display: grid;
  grid-template-columns: repeat(6, 16.5%); /* 6 cột với chiều rộng là 20% */
  grid-template-rows: repeat(5, auto); /* 5 hàng với chiều cao là 100px */
  
 
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
   
  }

  /*  thanh search ngày */
  /* thanh search ngày */

.headerSearchHotel {
  height: 40px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  border-radius: 5px;
  z-index: 1;
  /* padding:10px 0px; */
  position: relative;
}

.headerIconHotel {
  color: lightgray;
}

.headerSearchItemHotel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInputHotel {
  border: none;
  outline: none;
}

.headerSearchInputHotel::placeholder{
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
}
.headerSearchTextHotel {
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
}

.selectRoomClose{
  display:flex;
  justify-content: flex-start;
  gap:30px;
  width: 100%;
  align-items: center;
}

  